/* .header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #1e1e1e;
  color: white;
}

.select, .datePicker {
  width: 150px;
}

.total {
  margin-left: auto;
  font-weight: bold;
} */








/*//////////////////////////////////////////////////////////////////////////*/
/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #1e1e1e;
  color: white;
  border-bottom: 2px solid #ff7f50;
  flex-wrap: wrap;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select, .datePicker {
  width: 120px;
  height: 32px;
  border: 1px solid #ff7f50 !important;
  background-color: #1e1e1e !important;
  color: white !important;
}

.total {
  padding: 0 0.5rem;
  height: 32px;
  display: flex;
  align-items: center;
  border: 1px solid #ff7f50;
  color: white;
  background-color: #1e1e1e;
  font-weight: bold;
} */



/*////////////////////////////////////////////////////////*/
/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #1e1e1e;
  color: white;
  border-bottom: 2px solid #ff7f50;
  flex-wrap: wrap;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.select1 :global(.ant-select-selector) {
  width:80px !important;
  background-color: #1e1e1e !important;
  color: white !important;
  border: 1px solid #ff7f50 !important;
  height: 32px;
}

.select2 :global(.ant-select-selector) {
  width:140px !important;
  background-color: #1e1e1e !important;
  color: white !important;
  border: 1px solid #ff7f50 !important;
  height: 32px;
}


.select :global(.ant-select-selection-item) {
  color: white !important;
}

.total {
  padding: 0 0.5rem;
  height: 32px;
  display: flex;
  align-items: center;
  border: 1px solid #ff7f50;
  color: white;
  background-color: #1e1e1e;
  font-weight: bold;
} */



/*//////////////////////////////////////////////////////////////////////*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: #1e1e1e;
  color: white;
  border-bottom: 2px solid #ff7f50;
  flex-wrap: wrap;
}

.title {
  /* font-size: 1.5rem;
  font-weight: bold; */
 font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 1.5rem;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;

}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.monthYearSelect :global(.ant-select-selector) {
  width: 80px !important;
  height: 32px;
  background-color: #1e1e1e !important;
  color: white !important;
  border: 1px solid #ff7f50 !important;
  border-radius: 0 !important; 
}


.filterSelect :global(.ant-select-selector) {
  width: 140px !important;
  height: 32px;
  background-color: #1e1e1e !important;
  color: white !important;
  border: 1px solid #ff7f50 !important;
  border-radius: 0 !important; 
}


:global(.ant-select-selection-item) {
  color: white !important;
}

.total {
  padding: 0 0.5rem;
  height: 32px;
  display: flex;
  align-items: center;
  border: 1px solid #ff7f50;
  color: white;
  background-color: #1e1e1e;
  font-weight: bold;
}

