
.sidebar {
  height: auto;
  background-color: #1e1e1e !important;
  
  padding: 10px;
}

.logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 25px;
}

.logoIcon {
  height: 40px;
  width: 55px;
  color: #585757 !important;
}

.menu :global(.ant-menu-item) {
  display: flex;
  justify-content: center !important;
  /* color: #ff7f50 !important; */
  color: #764837!important;
  font-size: 18px;
  margin: 0px  !important;
  padding: 1rem 1rem !important;
  background: transparent !important;
  
}

.menu :global(.ant-menu-item-selected) {
  background-color: #2a2a2a !important;
}

.menu :global(.ant-menu-item:hover) {
  background-color: #333 !important;
}
.menu :global(.ant-layout-sider-trigger){
display: none !important;
}


.logoutItem{
  /* color: #ff7f50; */
  color: #764837!important;
  margin-top: 5rem;
  padding: 1rem 1rem;
}

